.stacktop > div,
.fixedtop > div {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 32px;
  box-shadow: 0.1rem 0.1rem 0px 0 rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(36px);
  -webkit-backdrop-filter: blur(36px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.5rem 1.5rem;
  color: white;
  max-width: 1400px;
  margin-top: 2rem;
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}
header .fixed.inset-0 {
  border-radius: 34px;
}

.fixedtop > div {
  margin-top: 0 !important;
  border-width: 0 0 1px 0;
  border-radius: 0;
  max-width: 100%;
  width: 100%;
}
.btn-primary {
  background: linear-gradient(
    90deg,
    rgba(80, 92, 253, 1) 0%,
    rgba(113, 26, 209, 1) 100%
  );
}

.client-experience {
  background: #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 242, 255, 1) 8%,
    rgba(219, 233, 255, 1) 16%,
    rgba(205, 225, 255, 1) 29%,
    rgba(200, 217, 252, 1) 44%,
    rgba(197, 213, 249, 1) 57%,
    rgba(201, 210, 238, 1) 70%,
    rgba(220, 226, 244, 1) 79%,
    rgba(246, 248, 252, 1) 91%,
    rgba(255, 255, 255, 1) 100%
  );
}
.client-experience .globe {
  background: url(./../images/full-earth.webp) center center no-repeat;
  background-size: 70%;
}

.sectionBgRadial {
  background: url(./../images/offers-bg.svg) no-repeat;
  background-size: contain;
  background-position: center 100px;
}

.tabsBg {
  background: url(./../images/accordn-bg.svg) no-repeat;
  background-position: left 100px;
}
.sectionBg {
  background: url(./../images/section-bg2.webp) no-repeat;
  background-position: center;
  background-size: cover;
}

.bord-rb {
  background: #ffffff00;
  background: linear-gradient(
    155deg,
    rgba(255, 255, 255, 0) 70%,
    rgba(207, 200, 254, 1) 84%,
    rgba(168, 165, 250, 1) 92%,
    rgba(122, 138, 245, 1) 100%
  );
}
.bord-lb {
  background: #ffffff00;
  background: linear-gradient(
    -155deg,
    rgba(255, 255, 255, 0) 70%,
    rgba(207, 200, 254, 1) 84%,
    rgba(168, 165, 250, 1) 92%,
    rgba(122, 138, 245, 1) 100%
  );
}
.bord-rt {
  background: #ffffff00;
  background: linear-gradient(
    25deg,
    rgba(255, 255, 255, 0) 70%,
    rgba(207, 200, 254, 1) 84%,
    rgba(168, 165, 250, 1) 92%,
    rgba(122, 138, 245, 1) 100%
  );
}
.bord-lt {
  background: #ffffff00;
  background: linear-gradient(
    -25deg,
    rgba(255, 255, 255, 0) 70%,
    rgba(207, 200, 254, 1) 84%,
    rgba(168, 165, 250, 1) 92%,
    rgba(122, 138, 245, 1) 100%
  );
}

@media only screen and (max-width: 768px) {
  .bord-rb,
  .bord-lb,
  .bord-rt,
  .bord-lt {
    background: #ffffff00;
    background: linear-gradient(
      25deg,
      rgba(255, 255, 255, 0) 70%,
      rgba(207, 200, 254, 1) 84%,
      rgba(168, 165, 250, 1) 92%,
      rgba(122, 138, 245, 1) 100%
    );
  }
}
